pytest==8.3.4
pytest-cov==6.0.0
black==24.10.0
isort==5.13.2
flake8==7.1.1
mypy==1.14.1
mongomock==4.3.0
mock==5.1.0
pytest-freezegun==0.4.2
pytest-chalice==0.0.5
click==8.1.8
moto[server]==5.0.26
pytest-vcr==1.0.2
pytest-asyncio==0.18.*
