#core
cuenca-validations==2.0.0.dev13

#chalice
blinker==1.9.0
chalice==1.31.3
mongoengine==0.29.1
dnspython==2.7.0

#fastapi
aiobotocore==2.17.0
fastapi==0.115.6
mongoengine-plus==0.2.3.dev4
python-multipart==0.0.20
starlette-context==0.3.6
types-aiobotocore-sqs==2.17.0
